<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>blog列表</title>
		<style >
			li{list-style:none;}
			.clearfix:after{
				content: "";
				display: table;
				clear: both;
			}
			.btitle{float:left;}
			.delblog{float:left;margin:0 10px;}
		</style>
	</head>
	<body>
		<h1>我的布罗格</h1>
		<input type="button" value="新增文章" onclick='location.href=("/addblog")'/>
		<form method="get" action="/search">
			{% csrf_token %}
			<input type="search" placeholder="搜索" name="q" required>
			<button type="submit">搜索</button>
		  </form>
		<ul>
			{% for d in data %}
			<li class="clearfix">
				<div class="btitle">
					<a href="/blog?id={{d.id}}">{{d.title}}</a>
				</div>
				<div class="delblog">
					<form action="/delblog" method="POST">
						{% csrf_token %}
						<input type="hidden" name="bid" value="{{d.id}}">
						<input type="submit" name="delete" value="删除">
					</form>
				</div>
				<div class="editblog">
					<a href="/editblog?id={{d.id}}">修改</a>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% if msg %}
		<span style="background: red">{{ msg }}</span>	
		{% endif %}
	</body>
</html>